:root {
  font-family: sans-serif;
}

$c-text: #222;
$c-border: $c-text;

h1,
h2,
h3 {
  margin: 0;
  font-weight: normal;
}

.header,
.article {
  max-width: 360px;
  padding: 1.5em;
  margin: 0 auto;
  border: 3px solid $c-border;
}

.header {
  color: $c-text;
  text-align: center;
}

.article {
  border-top: 0;
}

// $ciku-form-base-color: #ff7648;

@import '../ciku-forms';
