$c-text: #222;
$c-border: $c-text;

:root {
  font-family: sans-serif;
}

body {
  margin: 1em;
}

p {
  margin: 0 0 1em;
}

h1,
h2,
h3 {
  margin: 0;
}

.header,
.article {
  max-width: 360px;
  padding: 1.5em;
  margin: 0 auto;
  border: 3px solid $c-border;
}

.header {
  color: $c-text;
}

.article {
  border-top: 0;
}

// Importing ciku-forms
//

// Configuring ciku-forms
$ciku-form-base-color: #8e44ad;

@import '../ciku-forms';
