// Based on Leo Nikkilä
// https://lnikki.la/articles/sass-better-colour-based-on-brightness/

@function luma($c) {
  $-l-red: red(rgba($c, 1));
  $-l-green: green(rgba($c, 1));
  $-l-blue: blue(rgba($c, 1));

  @return (.2126 * $-l-red + .7152 * $-l-green + .0722 * $-l-blue) / 255;
}

@function pick-visible-color($bg, $c1, $c2) {
  $bg-luma: luma($bg);
  $c1-luma: luma($c1);
  $c2-luma: luma($c2);

  $c1-diff: abs($bg-luma - $c1-luma);
  $c2-diff: abs($bg-luma - $c2-luma);

  @if $c1-diff > $c2-diff {
    @return $c1;
  } @else {
    @return $c2;
  }
}
