// scss-lint:disable QualifyingElement

// Based on Bootstrap Form Normalize
// https://github.com/twbs/bootstrap-sass/blob/master/assets/stylesheets/bootstrap/_forms.scss

// Normalize non controls
//
fieldset {
  // Chrome and Firefox set a `min-width: min-content;` on fieldsets,
  // so we reset that to ensure it behaves more like a standard block element.
  // See https://github.com/twbs/bootstrap/issues/12359.
  min-width: 0;
  padding: 0;
  margin: 0;
  border: 0;
}

legend {
  display: block;
  width: 100%;
  padding: 0;
  margin-bottom: $ciku-form-line-height;
  font-size: ($ciku-form-font-size);
  font-weight: bold;
  line-height: inherit;
  color: $ciku-form-font-color;
  border: 0;
  border-bottom: 1px solid $ciku-form-legend-border-color;
}

label {
  display: block;
  max-width: 100%; // Force IE8 to wrap long content (see https://github.com/twbs/bootstrap/issues/13141)
  margin-bottom: $ciku-form-quarter-spacing-unit;
  font-weight: normal;
}

// Normalize form controls
//

input[type="search"] {
  box-sizing: border-box;
}

// Position radios and checkboxes better
input[type="radio"],
input[type="checkbox"] {
  margin: 4px 0 0;
  margin-top: 1px \9; // IE8-9
  line-height: normal;
}

input[type="file"] {
  display: block;
}

// Make range inputs behave like textual form controls
input[type="range"] {
  display: block;
  width: 100%;
}

// Make multiple select elements height not fixed
select[multiple],
select[size] {
  height: auto;
}

// Focus for file, radio, and checkbox
input[type="file"]:focus,
input[type="radio"]:focus,
input[type="checkbox"]:focus {
  @include tab-focus;
}

// Adjust output element
output {
  display: block;
  margin-bottom: $ciku-form-base-spacing-unit;
  font-size: $ciku-form-font-size;
  line-height: $ciku-form-line-height;
  color: $ciku-form-font-color;
  // padding-top: ($ciku-form-vertical-padding + 1);
}

textarea {
  overflow: auto; // Per CSS3 UI, `resize` only applies when `overflow` isn't `visible`
  resize: vertical;
}
